---
  swagger: "2.0"
  info:
    version: "1.0.0"
    title: "Accounts"
    description: "Manage Billing Accounts"
    termsOfService: "https://cloud.s3it.uzh.ch/static/custom/UZH-AUP.html"
    contact:
      name: "University of Zurich - S3IT"
    license:
      name: "GPLv3"
  host: "accounting.s3it.uzh.ch"
  basePath: "/api"
  schemes:
    - "http"
    - "https"
  consumes:
    - "application/json"
  produces:
    - "application/json"
  paths:
    /accounts:
      get:
        description: Returns all accounts from the system that the user is associated with
        operationId: api.findAccounts
        parameters:
        - name: asAdmin
          in: query
          description: only return accounts where the user is administrator
          required: false
          style: form
          schema:
            type: boolean
        - name: limit
          in: query
          description: maximum number of results to return
          required: false
          schema:
            type: integer
          format: int32
        produces:
          - "application/json"
        responses:
          "200":
            description: A list of accounts the user is associated with
            schema:
              type: "array"
              items:
                $ref: "#/definitions/Account"
          default:
            description: Unexpected error
            schema:
              $ref: "#/definitions/Error"
      put:
        description: Creates a new account, duplicates are not allowed
        operationId: api.addAccount
        parameters:
        - name: account
          in: body
          description: Account to add to the store
          required: true
          schema:
            $ref: "#/definitions/NewAccount"
        produces:
          - "application/json"
        responses:
          "200":
            description: Account response
            schema:
              $ref: "#/definitions/Account"
          default:
            description: unexpected error
            schema:
              $ref: "#/definitions/Error"
      post:
        description: Update an existing account
        operationId: api.updateAccount
        parameters:
        - name: account
          in: body
          description: Account to be updated
          required: true
          schema:
            $ref: "#/definitions/Account"
        produces:
          - "application/json"
        responses:
          "200":
            description: Account response
            schema:
              $ref: "#/definitions/Account"
          default:
            description: unexpected error
            schema:
              $ref: "#/definitions/Error"

    /me:
      get:
        description: The User Profile endpoint returns information about the user that has authorized with the application
        operationId: api.getProfile
        produces:
          - "application/json"
        responses:
          "200":
            description: Profile information for a user
            schema:
              $ref: '#/definitions/User'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
    /admin:
      get:
        description: All accounts that the user is an admin of
        operationId: api.getAdminAccounts
        produces:
          - "application/json"
        responses:
          "200":
            description: Accounts you can administer
            schema:
              type: array
              items:
                $ref: '#/definitions/Account'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
    /member:
      get:
        description: All accounts that the user is a member of
        operationId: api.getAccounts
        produces:
          - "application/json"
        responses:
          "200":
            description: You're a member of these accounts (including administrator priviledges)
            schema:
              type: array
              items:
                $ref: '#/definitions/Account'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'



  definitions:
    Account:
      allOf:
        - $ref: "#/definitions/NewAccount"
        - required:
          - id
        properties:
          id:
            type: integer
            format: int64
    NewAccount:
      type: "object"
      required:
        - "name"
        - "active"
        - "principleInvestigator"
        - "faculty"
        - "department"
      properties:
        active:
          type: "boolean"
        name:
          type: "string"
        principleInvestigator:
          type: "string"
        faculty:
          type: "string"
        department:
          type: "string"
    User:
      type: "object"
      required:
        - "id"
        - "ldapName"
      properties:
        id:
          type: "integer"
          format: "int64"
        ldapName:
          type: "string"
#    resource:
#      type: "object"
#      required:
#        - "id"
#        - "name"
#        - "description"
#      properties:
#        id:
#          type: "integer"
#          format: "int64"
#        name:
#          type: "string"
#        description:
#          type: "string"
    Error:
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        fields:
          type: string
